
%h1 Your Passwords
%table.admin_table
  %tr
    %th= sortable "Created"
    %th= sortable "Expired?"
    %th= sortable "Views"
    %th= sortable "Remaining Days"
    %th= sortable "url_token", "URL ID"
    %th Actions
  - @passwords.each do |p|
    %tr
      %td= p.created_at.strftime("%I:%M %p %B %d, %Y %Z")
      %td= p.expired ? "Yes" : "No"
      %td= link_to "#{p.views.count} of #{p.expire_after_views}", pwadmin_path(p.url_token)
      %td= ((p.created_at - p.expire_after_days.days.ago) / 60 / 60 / 24).to_i
      %td
        - if p.expired
          = link_to p.url_token, password_path(p.url_token)
        - else
          = link_to p.url_token, password_path(p.url_token), { :confirm => "This will use up a view.  Are you sure?" }
      %td
        - unless p.expired
          = link_to "Expire Now", root_path


