!!!
%html
  %head
    %title PasswordPusher
    = csrf_meta_tags
    = oboe_rum_header rescue ""
    = stylesheet_link_tag    "application"
    %link{ :rel => "shortcut icon",    :href => asset_path("favicon.ico"), :type => "image/x-icon" }
    %link{ :rel => "apple-touch-icon", :href => asset_path("apple-touch-icon-iphone.png") }
    %link{ :rel => "apple-touch-icon", :sizes => "72x72",   :href => asset_path("apple-touch-icon-ipad.png") }
    %link{ :rel => "apple-touch-icon", :sizes => "114x114", :href => asset_path("apple-touch-icon-iphone4.png") }
    %link{ :rel => "apple-touch-icon", :sizes => "144x144", :href => asset_path("apple-touch-icon-ipad3.png") }
    :javascript
      // Set up the yepnope (Modernizr.load) directives... 
      Modernizr.load([
      {
          // Test if Input Range is supported using Modernizr
          test: Modernizr.inputtypes.range,
          // If ranges are not supported, load the slider script and CSS file
          nope: [     
            // The slider CSS file
            "css!#{asset_path('fd-slider.css')}"
            // Javascript file for slider
           ,"#{asset_path('fd-slider.js')}"
          ],
          callback: function(id, testResult) {
              // If the slider file has loaded then fire the onDomReady event        
              if("fdSlider" in window && typeof (fdSlider.onDomReady) != "undefined") {
                      try { fdSlider.onDomReady(); } catch(err) {};
              };
          }
      }
      ]);
  %body
    .content
      .login_toolbar
        - if user_signed_in?
          %a{ :href => root_path } Front
          \|
          %a{ :href => dashboard_path } Dashboard
          \|
          = link_to destroy_user_session_path, { :method => :delete } do
            Logout
        -else
          = link_to "Sign In/Up", new_user_session_path

      %p.notice= notice
      %p.alert=alert 

      = yield

      - if Rails.env == "production" or Rails.env == "development"
        %p.notes
          = link_to "About PasswordPusher", page_path('about')
          %br/
          Find us on:
          = succeed "," do
            = link_to "@Twitter", "https://twitter.com/pglombardo"
          = link_to "@Github", "https://github.com/pglombardo"
          &amp;
          = link_to "@Tumblr", "http://blog.gameface.in/"

    = javascript_include_tag "application"
    = render :partial => "layouts/ga" if Rails.env == "production"
    = oboe_rum_footer rescue ""
    
